<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Администратор</title>
    <script>

        function fetchClients() {
            const clientIdTextBox = document.getElementById('clientIdTextBox');
            const clientDataContainer = document.getElementById('clientDataContainer');
            const id = clientIdTextBox.value;
            fetch('/api/client/' + id)
                .then(response => response.json())
                .then(client => clientDataContainer.innerHTML = JSON.stringify(client));
        }

        function createClient() {
            const nameInput = document.getElementById('createClientName');
            const addressInput = document.getElementById('createClientAddress');
            const phonesInput = document.getElementById('createClientPhones');

            const clientData = {
                name: nameInput.value,
                address: addressInput.value ? { street: addressInput.value } : null,
                phones: phonesInput.value ? phonesInput.value.split(',').map(phone => ({ number: phone.trim() })) : []
            };

            fetch('/api/client', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(clientData)
            })
                .then(response => response.json())
                .then(createdClient => {
                    console.log(createdClient);
                    alert('Клиент создан');
                    fetchClients();
                    nameInput.value = '';
                    addressInput.value = '';
                    phonesInput.value = '';
                })
                .catch(error => console.error('Ошибка создания клиента:', error));
        }

        function editClient() {
            const clientIdInput = document.getElementById('editClientId');
            const nameInput = document.getElementById('editClientName');
            const addressInput = document.getElementById('editClientAddress');
            const phonesInput = document.getElementById('editClientPhones');
            const clientData = {
                id: clientIdInput.value,
                name: nameInput.value,
                address: { street: addressInput.value },
                phones: phonesInput.value.split(',').map(phone => ({ number: phone.trim() }))
            };
            fetch(`/api/client/` + clientIdInput.value, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(clientData)
            })
                .then(response => response.json())
                .then(updatedClient => {
                    console.log(updatedClient);
                    alert('Клиент обновлен');
                })
                .catch(error => console.error('Ошибка обновления клиента:', error));
        }
    </script>
</head>
<body>
<h2>Создать нового клиента</h2>
<label for="createClientName">Имя:</label>
<input type="text" id="createClientName" placeholder="Введите имя клиента">
<label for="createClientAddress">Адрес:</label>
<input type="text" id="createClientAddress" placeholder="Введите адрес">
<label for="createClientPhones">Телефоны (через запятую):</label>
<input type="text" id="createClientPhones" placeholder="Введите телефоны">
<button onclick="createClient()">Создать клиента</button>

<h2>Редактировать клиента</h2>
<label for="editClientId">ID клиента:</label>
<input type="text" id="editClientId" placeholder="Введите ID клиента" required>
<label for="editClientName">Имя:</label>
<input type="text" id="editClientName" placeholder="Введите имя клиента" required>
<label for="editClientAddress">Адрес:</label>
<input type="text" id="editClientAddress" placeholder="Введите адрес" required>
<label for="editClientPhones">Телефоны (через запятую):</label>
<input type="text" id="editClientPhones" placeholder="Введите телефоны">
<button onclick="editClient()">Редактировать клиента</button>

<h2>Получить клиента по id</h2>
<input type="text" id = "clientIdTextBox" placeholder="Введите id пользователя" required>
<button onclick="fetchClients()">Получить</button>
<pre id = "clientDataContainer"></pre>

<h2>Список клиентов</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Адрес</th>
        <th>Телефоны</th>
    </tr>
    <#list clients as client>
    <tr>
        <td>${client.id}</td>
        <td>${client.name}</td>
        <td>${(client.address.street)!"Неизвестно"}</td> <!-- Предполагается, что адрес - это объект с полем street -->
        <td>
            <#list client.phones as phone>
            ${phone.number}<#if phone_has_next>, </#if>
    </#list>
    </td>
    </tr>
</#list>
</table>

</body>
</html>